{% extends 'base.html' %}
{% block title %}
Test-Correct | Home
{% endblock %}
{% block content %}
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome</h1>
                <form id="NewModal" method="POST" name="send_studentnummer">
                    <input class="w3-input" type="hidden" id="action_type" name="action_type" value="add">
                    <p>
                    <label>studenten nummer</label>
                    <input class="w3-input" type="number" id="studentennummer" name="studentennummer" placeholder="Vul je studentennummer in" value=""></p>
                    <p>
                    <label>Naam</label>
                    <input class="w3-input" type="text" id="naam" name="naam" placeholder="Vul je naam in" value=""></p>
                    <p>
                    <label>Klas</label>
                    <input class="w3-input" type="text" id="klas" name="klas" placeholder="Vul je klas in" value=""></p>
                    <button class=" btn btn-select btn-lg btn-light" id="SaveModal">Opslaan</button>
                </form>
                <!--<a class="btn btn-lg btn-light" href="#about">Start scrolling!</a>-->
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="row">studenten nummer</th>
                                    <th class="text-center" scope="row">Naam</th>
                                    <th class="text-center" scope="row">Klas</th>
                                    <th class="text-center" scope="row">Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in student_list %}
                                <tr name="test">
                                    <td data-label="id" class="text-center p-2" scope="row"><abbr title="{{ student.studentnummer}}">{{ student.studentnummer}}</abbr></td>
                                    <td data-label="id" class="text-center p-2" scope="row"><abbr title="{{ student.Naam}}">{{ student.Naam}}</abbr></td>
                                    <td data-label="id" class="text-center p-2" scope="row"><abbr title="{{ student.Klas}}">{{ student.Klas}}</abbr></td>
                                    {% if student.action_type != None %}
                                        <td data-label="id" class="text-center p-2" scope="row"><abbr title="#{{ student.action_type}}">#{{ student.action_type}}</abbr></td>
                                    {% else %}
                                        <td data-label="id" class="text-center p-2" scope="row"><abbr title="Geen code">Geen code</abbr></td>
                                    {% endif %}
                                    <td data-label="id" class="text-center p-2" scope="row"><button class="delete btn btn-lg btn-light" value="{{ student.studentnummer}}"><i class="fa-solid fa-trash"></i></button></td>
                                    <td data-label="id" class="text-center p-2" scope="row"><button class="edit btn btn-lg btn-light" value="{{ student.studentnummer}}"><i class="fa-solid fa-pen-to-square"></i></button></td>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if total_pages > 1 %}
                            <div class="pagination">
                                {% for page_number in range(1, total_pages + 1) %}
                                {% if page_number == active_page %} <!--if the page number is the same as the active page -->
                                <span class="current-page">{{ page_number }}</span> <!--then add a class to the span -->
                                {% else %}
                                <a href="{{ url_for('show_all', page=page_number) }}">{{ page_number }}</a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
<script>
$(document).ready(function(){
    $("#SaveModal").click(function (event) {
        console.log($('#NewModal').serializeArray());	
        event.preventDefault();
        event.stopImmediatePropagation();

        $.ajax({
            type: "POST",
            url: "{{url_for('show_all')}}",
            data: $('#NewModal').serializeArray(),
            success: function(response) {
                alert(response.output);
                location.reload();
            },
                error: function (jqXHR, exception) {
                alert(jqXHR.statusText);
            }
        });
    });

    $(".edit").click(function (event) {
        var value = $(this).val();
        event.preventDefault();
        event.stopImmediatePropagation();
        
        $.ajax({
            type: "POST",
            url: "{{url_for('show_all')}}",
            data: {
                'type': 'get_for_edit',
                'studentnummer': value
            },	
            success: function(response) {   
                studentnummer = response.output[0]['studentnummer'];
                klas = response.output[0]['Klas'];
                naam = response.output[0]['Naam'];

                $("#action_type").val('edit');
                $("#studentennummer").val(studentnummer);
                $("#naam").val(naam);
                $("#klas").val(klas);
            },
                error: function (jqXHR, exception) {
                alert(jqXHR.statusText);
            }
        });
    });

    $(".delete").click(function (event) {
        var value = $(this).val();
        event.preventDefault();
        event.stopImmediatePropagation();
        
        if (confirm('Weet u zeker dat u deze leerling wilt verwijderen?')) {
            // Save it!
                console.log(value);
                $.ajax({
                type: "POST",
                url: "{{url_for('show_all')}}",
                data: {
                    'action_type': 'delete',
                    'studentennummer': value
                },	
                success: function(response) { 
                    console.log(response.output);  
                    location.reload();
                },
                    error: function (jqXHR, exception) {
                    alert(jqXHR.statusText);
                }
            });
        }
    });
});
</script>
{% endblock %}